@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #00043C;
  font-family: Paladio, serif;
  color: #A59473;
}
header {
  height: 200px;
}
h1 {
  font-family: "Merriweather", serif;
  color: yellow;
  font-size: 90px;
}
img {
	
}
h2 {
	background-color: #004568;
	font-family: "margin";
	color: yellow;
}
.image{
	width: 100%;
}
.logo{
	max-width: 80px;
    max-height: 80px;
}
.titre{
	margin: auto;
	text-align: center;
}
.martinique{
	width: 600px;
	height:300px;
}
.guadeloupe{
	width: 600px;
	height:300px;
}
.reunion {
	width: 600px;
	height:300px;
}